:root {
    --green: #81C784; 
}
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right, #2776ba, #32aef2);
}

.container {
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 100px 50px;
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background: var(--green);
}

.article {
    padding: 10px;
    background: white;
    display: grid;
}

aside {
    background: #242424;
    color: white;
}

aside .breaking-article {
    padding: 10px;
    border: 5px solid rgba(255, 255, 255, 0.09);
}

.subcontent {
    font-size: 14px;
    font-style: italic;
    text-align: justify;
}

/* WRITE YOUR CODE HERE */
