:root {
    --green: #81C784; 
}
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right, #2776ba, #32aef2);
}

.container {
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 100px 50px;
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    background: var(--green);
}

.article {
    padding: 10px;
    background: white;
    display: grid;
}

aside {
    background: #242424;
    color: white;
}

aside .breaking-article {
    padding: 10px;
    border: 5px solid rgba(255, 255, 255, 0.09);
}

.subcontent {
    font-size: 14px;
    font-style: italic;
    text-align: justify;
}

/* CORRECTION */
.article {
    grid-template-columns: auto, 1fr, 1fr;
    grid-template-rows: auto 2fr 100px;
    grid-gap: 10px;
}

.title {
    grid-column: span 3;
}
.picture {
    grid-column: 1;
    grid-row: 2 / span 3;
    /* grid-area: 2 / 1 / span 3 / 1; */
    justify-self: center;
    align-self: center;
}

.content {
    grid-column: 2 / 2;
    align-self: center;
}
.subcontent {
    grid-column: 2 / span 3;
    grid-row: 3;
    /* grid-area: 3 / 2 / 3 / span 3; */
    align-self: flex-end;
}